In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [7]:
df = pd.read_csv('~/Desktop/python/Data/skAB_teaser.csv', sep = ';')

In [8]:
df.head()

              datetime                 id       value  index
0  2019-07-08 17:02:14            Current    0.000749   8226
1  2019-07-08 17:02:14        Temperature   28.209900   8227
2  2019-07-08 17:02:14            Voltage  252.743000   8228
3  2019-07-08 17:02:14  Accelerometer1RMS    0.042830   8229
4  2019-07-08 17:02:14  Accelerometer2RMS    0.080612   8230

In [11]:
unique_id = list(df['id'].unique())

In [ ]:
fig, ax = plt.subplots(1,len(unique_id))

In [ ]:
for i in range(len(unique_id)):
    id_name = unique_id[i]
    stage_df = df[df['id']==id_name]
    ax[0,i].plot()